<div class="login-page">
  <mat-card>
    <mat-card-title>Rgister</mat-card-title>
    <mat-card-subtitle>欢迎注册协同开发系统</mat-card-subtitle>
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="用户名">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="密码">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="确认密码">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="email" placeholder="邮箱">
        </mat-form-field>
        <mat-grid-list cols="6" rowHeight="1:1">
          <mat-grid-tile *ngFor="let item of items">
            <mat-icon md-list-icon [svgIcon]="item"></mat-icon>
          </mat-grid-tile>
        </mat-grid-list>
        <div class="submit-button">
          <button mat-button mat-mini-fab>确定</button>
          <button mat-button mat-mini-fab (click)="doCancle()">取消</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

