:host{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project-item{
    height: 380px;
    flex: 0 0 300px;
    margin: 10px;
    display: flex;
}
.add-buttons{
    position: fixed;
    right: 32px;
    bottom: 96px;
    z-index: 99;
}