@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wfcxgj');
  src:  url('fonts/icomoon.eot?wfcxgj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wfcxgj') format('truetype'),
    url('fonts/icomoon.woff?wfcxgj') format('woff'),
    url('fonts/icomoon.svg?wfcxgj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-day:before {
  content: "\e91f";
}
.icon-month:before {
  content: "\e920";
}
.icon-project:before {
  content: "\e921";
}
.icon-projects:before {
  content: "\e922";
}
.icon-week:before {
  content: "\e923";
}
.icon-add:before {
  content: "\e924";
  color: #cdcdcd;
}
.icon-burger-navigation:before {
  content: "\e925";
  color: #fff;
}
.icon-delete:before {
  content: "\e926";
}
.icon-hand-grab-o:before {
  content: "\e927";
}
.icon-move:before {
  content: "\e928";
}
.icon-avatars:before {
  content: "\e929";
}
.icon-unassigned:before {
  content: "\e92a";
}
.icon-day1:before {
  content: "\e900";
}
.icon-day2:before {
  content: "\e901";
}
.icon-day3:before {
  content: "\e902";
}
.icon-day4:before {
  content: "\e903";
}
.icon-day5:before {
  content: "\e904";
}
.icon-day6:before {
  content: "\e905";
}
.icon-day7:before {
  content: "\e906";
}
.icon-day8:before {
  content: "\e907";
}
.icon-day9:before {
  content: "\e908";
}
.icon-day10:before {
  content: "\e909";
}
.icon-day11:before {
  content: "\e90a";
}
.icon-day12:before {
  content: "\e90b";
}
.icon-day13:before {
  content: "\e90c";
}
.icon-day14:before {
  content: "\e90d";
}
.icon-day15:before {
  content: "\e90e";
}
.icon-day16:before {
  content: "\e90f";
}
.icon-day17:before {
  content: "\e910";
}
.icon-day18:before {
  content: "\e911";
}
.icon-day19:before {
  content: "\e912";
}
.icon-day20:before {
  content: "\e913";
}
.icon-day21:before {
  content: "\e914";
}
.icon-day22:before {
  content: "\e915";
}
.icon-day23:before {
  content: "\e916";
}
.icon-day24:before {
  content: "\e917";
}
.icon-day25:before {
  content: "\e918";
}
.icon-day26:before {
  content: "\e919";
}
.icon-day27:before {
  content: "\e91a";
}
.icon-day28:before {
  content: "\e91b";
}
.icon-day29:before {
  content: "\e91c";
}
.icon-day30:before {
  content: "\e91d";
}
.icon-day31:before {
  content: "\e91e";
}
