.app-page{
    .example-sidenav{
        width: 16rem;
        background-color: #ff4081;
    }
}
header{
    position: relative;
    .logo{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        align-items: center;
        mat-icon{
            margin: 0 auto;
            color: #ffffff;
        }
    }
    app-header{
        height: 60px;
        padding-left: 60px;
        display: inline-block;
    }
}