<!--The content below is only a placeholder and can be replaced.-->
<h1>测试文字</h1>
<span class="icon-day"></span>
<button mat-raised-button (click)="darkTheme('dark')">Basic</button>
<button mat-raised-button color="primary" (click)="darkTheme('pink')">Primary</button>
<button mat-raised-button color="accent" (click)="darkTheme('default')">Accent</button>
<button mat-raised-button color="warn" (click)="darkTheme('kit')">Warn</button>
<button mat-raised-button disabled>Disabled</button>
<router-outlet></router-outlet>
