.header-page{
    display: inline-flex;
    flex-direction: row;
    height: 60px;
    position: relative;
    h3{
        color: #FFFFFF;
    }
    .right{
        position: absolute;
        right: 100px;
    }
    .right-t{
        position: absolute;
        right: 150px;
    }
}
@media (max-width: 575.98px) { 
    .header-page{
        width: 570px;
    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
    .header-page{
        width: 760px;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    .header-page{
        width: 890px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .header-page{
        width: 1190px;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1281px) {
    .header-page{
        width: 1280px;
    }
 }