/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "~@angular/material/prebuilt-themes/purple-green.css";
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./theme.scss";

// handson table css
@import '~handsontable/dist/handsontable.full.css';

html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5;
    color: #3C4858;
    background: #fff;
}

.clearfix:before,
.clearfix:after {
   content: ".";
   display: block;
   height: 0;
   visibility: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */

/*
main 页面布局
*/
div .main-route {
    display: flex;
    flex-direction: row;
    height: 100%;
    .main-left {
        width: 240px;
        margin: 25px;
        max-height: 75vh;
        overflow: auto;
    }
    .main-right {
        flex: 1;
        overflow: auto;
    }
}


